footer {
  background-color: var(--light-color);
  font-size: var(--body-font-size-xs);
}

footer .footer > div {
  margin: auto;
  max-width: 1200px;
  padding: 40px 24px 24px;
}

footer .footer p {
  margin: 0;
}

@media (width >= 900px) {
  footer .footer > div {
    padding: 40px 32px 24px;
  }
}
/*==============================================*/
.footer {
  background: #03164a;
  color: #fff;
  text-align: center;
  font-size: 12px;        
  padding: 24px 16px;  
  line-height: 1.6;
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  border-radius: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
 
/* show default text if empty */
.footer:empty::before {
  content: "© Copyright HDFC Bank Ltd.";
}
 
/* style inner content */
.footer * {
  color: #fff;
  margin: 0;
  font-size: 12px;
}
 
 